<!DOCTYPE html>
<!-- TAG LIB
     xmlns = xml Namespace

-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:include="layout :: head"></head> 
    <body>
        <nav th:replace="layout :: menu"></nav>
        <main class="container">
           
            <!-- th:action - para onde ele deve enviar  -->
            <!-- th:object - ele liga o formulario com algum objeto -->
            <form th:action="@{/cidades/(form)}" method="POST" th:object="${cidade}">
                <input type="hidden" th:field="*{id}">
                <div class="form-group">
                    <label for="txtnome">Nome:</label>
                    <input type="text" class="form-control" id="txtnome"th:field="*{nome}">
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </main>
        <footer th:include="layout :: footer"></footer>
</html>